.movie{
    margin:5px;
}
.header{
    color:white;
}

.header:hover{
    cursor:pointer;
    transform: scale(1.1);
}
.card-image{
    height: 320px;
    width: 240px;
    margin:0 auto;
}
.like{
    margin-top:5px;
    margin-left:30%;
}

.dislike{
    margin-top:5px;
    margin-left:10%;
}

